{% extends 'layout.html.twig' %}

{% trans_default_domain 'clients' %}

{% block title %} {{ 'clients.show.title' | trans }} {% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <div>
            <h1 class="page-title">
                {{ 'clients.show.title' | trans }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="fe fe-home"></i> Home</a></li>
                <li><a href="{{ path('client_index') }}"> {{ 'clients' | trans }} </a></li>
                <li class="active">{{ 'clients.show.title' | trans }}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <!-- Card Header -->
                <div class="card-header isolated">
                    <ul class="nav nav-tabs card-header-tabs">

                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#waterMeter">{{'clients.show.waterMeters'|trans}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#student">{{'clients.show.clientInfo'|trans}}</a>
                        </li>
                    </ul>
                    <div class="card-options">
                        <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-sm btn-warning "> {{'edit'|trans({},'actions')}}</a>
                        <a href="{{ path('client_index') }}" class="btn btn-sm btn-link">{{'back'|trans({},'actions')}}</a>
                        {{ include('client/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>

            <div class="card">
                <!-- Card Body -->
                <div class="card-body card-tab">
                    <div class="tab-content">
                        <div class="tab-pane container fade" id="student">
                            <div class="table-responsive">
                                <div class="pic-info">
                                    {% if client.image is not empty %}
                                        <img src="{{ vich_uploader_asset(client, 'imageFile') }}" alt="{{ client.firstName ~' '~ client.lastName }}" />
                                    {% else %}
                                        <img alt="" src="/app/img/user.png">
                                    {% endif %}
                                </div>
                                <table class="table card-table table-striped table-vcenter show-table">
                                    <tbody>
                                    <tr>
                                        <th>{{ 'clients.form.id'|trans }}</th>
                                        <td><span class="tag">{{ client.id | lower }}</span></td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'clients.form.cin'|trans }}</th>
                                        <td>{{ client.cin }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'clients.form.firstName'|trans }}</th>
                                        <td><span class="tag">{{ client.firstName | lower }}</span></td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'clients.form.lastName'|trans }}</th>
                                        <td>{{ client.lastName }}</td>
                                    </tr>

                                    <tr>
                                        <th>{{ 'clients.form.phoneNumber'|trans }}</th>
                                        <td>{{ client.phoneNumber }}</td>
                                    </tr>

                                    <tr>
                                        <th>{{ 'clients.form.address'|trans }}</th>
                                        <td>{{ client.address}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        {{ include('client/waterMeter/index.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}