{% trans_default_domain 'WaterMeters' %}

<div class="tab-pane container fade" id="waterMeter">
    <div class="row row-cards row-deck p-4">
        {% for waterMeter in waterMeters %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="min-height: 0px">
                        <div class="card-title d-flex">
                                <span class="mr-1">{{'WaterMeters.owner'|trans}} :</span><span style="font-weight: bold"> {{client.fullName|capitalize}}</span>
                        </div>
                        <div class="card-options">
                            <a href="{{ path('consumption_index', {'id': waterMeter.id}) }}" class="btn btn-sm btn-outline-warning mr-2" title="{{'show'|trans({},'actions')}}"><i class="fe fe-eye"></i></a>
                            {%   include('water_meter/_delete_form.html.twig') %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mt-auto d-flex">
                            <div class="avatar avatar-xxl mr-5">
                                <img alt="" src="/app/img/user.png">
                            </div>
                            <div class="flex-row mr-5 m-2">
                                <div>{{'WaterMeters.wmNumber'|trans}} : <span>{{waterMeter.wmNumber }}</span></div>
                                <div>{{'WaterMeters.form.active'|trans}} : <span class="tag" style="color:white; {{waterMeter.active? 'background-color:#00c400': 'background-color:red' }}">{{ waterMeter.active ? 'Active' : 'Disactivated' | capitalize}}</span></div>
                                <div>{{'WaterMeters.form.setupDate'|trans}} : <span>{{ waterMeter.setupDate | date('Y-m-d') }}</span></div>
                            </div>
                            <div class="flex-column mr-3">
                                <div class="border border-success p-2" style="border-radius: 10px">
                                    <h5>{{'WaterMeters.form.lastRecord'|trans}} </h5> <h5 class="text-center">{{ waterMeter.consumptions.last.currentRecord is defined ?waterMeter.consumptions.last.currentRecord:0}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-md-6">
        <div class="card">
            <a href="{{ path('new_water_meter_to_current_client',{'id':client.id})}}"  class="btn  btn-outline-primary d-flex" style="height: 100%">
            <div style="margin: 0 auto">
                    <i class="fe fe-plus" style="font-size: 5rem"></i><div style="margin-top: 30px"> <span>{{'WaterMeters.actions.add'|trans}}</span></div>
            </div>
            </a>

        </div>
        </div>



    </div>
</div>