{% extends 'layout.html.twig' %}

{% trans_default_domain 'Consumptions' %}


{% block title %} {{ 'Consumptions.show.title' | trans }} {% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <div>
            <h1 class="page-title">
                {{ 'Consumptions.show.title' | trans }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="fe fe-home"></i> Home</a></li>
                <li><a href="{{ path('water_meter_index') }}"> {{ 'Consumptions.index' | trans }} </a></li>
                <li class="active">{{ 'Consumptions.show.title' | trans }}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header ">
                    <div class="card-title" style="font-weight: bold" >{{'Consumptions.form.infos'|trans }}</div>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6 col-sm-12">CIN : {{ waterMeter.client.cin }} </div>
                        <div class="col-md-6 col-sm-12">Number : {{ waterMeter.wmNumber }}</div>
                        <div class="col-md-6 col-sm-12">Full NAME : {{ waterMeter.client.fullName }}</div>
                        <div class="col-md-6 col-sm-12">WATER METER ADDRESS : {{ waterMeter.address}}</div>
                        <div class="col-md-6 col-sm-12">CLIENT ADDRESS: {{ waterMeter.client.address }}</div>
                        <div class="col-md-6 col-sm-12">STATUS : {{ waterMeter.active ? 'ACTIVE' : 'SUSPENDED' }}</div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="card paginate">
                <div class="card-header isolated">
                    {% set currentYear = date('now')|date('Y') %}
                    {% set prevYear = currentYear-1 %}
                    {% set nextYear = currentYear+1 %}
                    <button type="button" class="btn btn-dark fa fa-angle-double-left-perso" id="prevYear">{{prevYear}}</button>
                    <h3 class="card-title col-centered font-weight-bold" > {{ 'Consumptions.form.year.title' | trans }} : <span id="currentYear" value="{{ currentYear }}">{{currentYear}}</span>  </h3>
                    <button type="button" class="btn btn-dark fa fa-angle-double-right-perso" id="nextYear">{{nextYear}}</i></button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-btn">
                        <a href="{{ path('consumption_new',{'id':waterMeter.id})}}"  class="btn btn-pill btn-outline-primary">
                            <i class="fe fe-plus"></i> {{'Consumptions.actions.add'|trans}}
                        </a>
                            {#<a href="#"  class="btn btn-pill btn-outline-success d-none d-md-inline-block">
                                <i class="fe fe-file"></i> {{'Consumptions.actions.export.pdf'|trans}}
                            </a>
                            <a href="#"  class="btn btn-pill btn-outline-danger d-none d-sm-inline-block">
                                <i class="fe fe-file-text"></i> {{'Consumptions.actions.export.excel'|trans}}
                            </a>#}
                    </h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">

                        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                            <thead>
                            <tr>
                                <th>Months</th>
                                <th >{{ 'Consumptions.form.code' | trans }}</th>
                                <th>{{ 'Consumptions.form.date' | trans }}</th>
                                <th>{{ 'Consumptions.form.previousRecord'| trans  }}</th>
                                <th>{{ 'Consumptions.form.currentRecord'| trans  }}</th>
                                <th>{{ 'Consumptions.form.consumption'| trans  }}</th>
                                <th class="col-2">{{ 'Consumptions.form.status'| trans  }}</th>
                               {# <th class="text-right"> {{ 'Consumptions.form.actions'| trans  }}</th>#}
                            </tr>
                            </thead>
                            <tbody id="Table">
                                <tr class="spinner" id="spinner">
                                    <td>
                                        <div class="sk-circle">
                                            <div class="sk-circle1 sk-child"></div>
                                            <div class="sk-circle2 sk-child"></div>
                                            <div class="sk-circle3 sk-child"></div>
                                            <div class="sk-circle4 sk-child"></div>
                                            <div class="sk-circle5 sk-child"></div>
                                            <div class="sk-circle6 sk-child"></div>
                                            <div class="sk-circle7 sk-child"></div>
                                            <div class="sk-circle8 sk-child"></div>
                                            <div class="sk-circle9 sk-child"></div>
                                            <div class="sk-circle10 sk-child"></div>
                                            <div class="sk-circle11 sk-child"></div>
                                            <div class="sk-circle12 sk-child"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/babel" src="{{ asset('app/js/reactConsumptionTable.js') }}"></script>
    <script type="text/babel">
        var wmId= {{ waterMeter.id }}
        ReactDOM.render(<ConsumptionTable id={wmId}/>, document.getElementById('Table'))
    </script>
{% endblock %}