{% trans_default_domain 'dashboard' %}
{%  set locale = app.request.getLocale() %}             
{% if locale =="ar_MA"%} 
{% set classVar1 ='padding-right:unset !important' %}  
{% else %}
  {% set classVar1 ='' %}
{% endif %}   
<div class="row col-12">

    <div class="col-12 col-sm-6 col-lg-4" >
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="h1 mt-2">{{ students.count }}</div>
                <div class="text-muted mb-4">{{ 'Students' | trans }}</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4" >
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="h1 mt-2">{{ certificates.count }}</div>
                <div class="text-muted mb-4">{{ 'Certificates' | trans }}</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4" style={{classVar1}} >
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="h1 mt-2">{{ users.count }}</div>
                <div class="text-muted mb-4">{{ 'Users' | trans }}</div>
            </div>
        </div>
    </div>

</div>