{% extends 'layout.html.twig' %}

{% trans_default_domain 'user' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %} {{ 'users.index.title' | trans }} {% endblock %}

{% block pageHeader %}
    <div class="page-header">
     <div>
         <h1 class="page-title">
             {{ 'users.index.title' | trans }}
         </h1>
         <ol class="breadcrumb">
             <li><a href="{{ path('dashboard') }}"><i class="fe fe-home"></i> Home</a></li>
             <li><a href="{{ path('users_index') }}"> {{ 'users' | trans }} </a></li>
             <li class="active">{{ 'users.index.title' | trans }}</li>
         </ol>
     </div>
   </div>
{% endblock %}


{% block content %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="searchBox">
                <form action="" class="searchBox-body">
                    <div class="row" style="margin-bottom:-15px">
                        {{ form_start(form, {'method': 'GET'}) }}
                        {% set params = app.request.query.all %}
                        <div class="col-md col-sm-6">
                            <div class="form-group">
                                <div class="input-icon">
                                    <span class="input-icon-addon"><i class="fe fe-user"></i></span>
                                    {{ form_widget(form.username, {value: params.user_finder.username | default('') }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md col-sm-6">
                            <div class="form-group">
                                <div class="input-icon">
                                    <span class="input-icon-addon"><i class="fe fe-users"></i></span>
                                    {{ form_widget(form.fullName, {value: params.user_finder.fullName| default('') }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md col-sm-6">
                            <div class="form-group">
                                <div class="input-icon">
                                    <span class="input-icon-addon"><i class="fe fe-mail"></i></span>
                                    {{ form_widget(form.email, {value: params.user_finder.email| default('') }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-block btn-outline-dark"><i class="fe fe-search"></i> {{'users.actions.search'|trans}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Content -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-btn">
                        <a href="{{ path('user_new') }}"  class="btn btn-pill btn-outline-primary">
                            <i class="fe fe-plus"></i> {{'users.actions.add'|trans}}
                        </a>
                        <a href="{{ path('user_new') }}"  class="btn btn-pill btn-outline-success d-none d-md-inline-block">
                            <i class="fe fe-file"></i> {{'users.actions.export.pdf'|trans}}
                        </a>
                        <a href="{{ path('user_new') }}"  class="btn btn-pill btn-outline-danger d-none d-sm-inline-block">
                            <i class="fe fe-file-text"></i> {{'users.actions.export.excel'|trans}}
                        </a>
                    </h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                        <thead>
                        <tr>
                            <th class="col-2">{{ 'users.form.user' | trans }}</th>
                            <th>{{ 'users.form.fullName' | trans }}</th>
                            <th>{{ 'users.form.email'| trans  }}</th>
                            <th>{{ 'users.form.status'| trans  }}</th>
                            <th>{{ 'users.form.role'| trans  }}</th>
                            <th>{{ 'users.form.activity'| trans  }}</th>
                            <th class="text-right"> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="text-center">
                                    {% if user.avatar is not empty %}
                                        {% set avatar = vich_uploader_asset(user, 'avatarFile') %}
                                    {% else %}
                                        {% set avatar = '/app/img/user.png' %}
                                    {% endif %}
                                    <div class="avatar d-block" style="background-image: url({{ avatar }})">
                                        <span class="avatar-status bg-green"></span>
                                        <span class="tag">{{ user.username | lower }}</span>
                                    </div>
                                </td>
                                <td>{{ user.fullName | capitalize }}</td>
                                <td>{{ user.email }}</a></td>
                                <td><span class="tag tag-azure">{{ user.enabled == true ? 'enabled'| trans  : 'disabled' | trans }}</span></td>
                                <td>
                                    <small>
                                        <span class="tag tag-lime">{{user.roles[0]|split('_', 2)|last=='ADMIN'? 'Admin'|trans :'User'|trans }}</span>
                                    </small>
                                </td>
                                <td>{{ user.lastLogin |ago }}</td>
                                <td class="text-right">
                                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-sm btn-outline-primary" title="{{'show'|trans({},'actions')}}"><i class="fe fe-eye"></i></a>
                                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-sm btn-outline-warning" title="{{'edit'|trans({},'actions')}}"><i class="fe fe-edit"></i></a>
                                    {{ include('users/delete_form.html.twig') }}

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="14">{{'No records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% if users.haveToPaginate %}
                    <div class="card-footer pagination">
                        {{
                        pagerfanta(users, 'twitter_bootstrap4_translated', {
                            routeName: 'user_index_paginated',
                            routeParams: app.request.query.all
                        })
                        }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}